body {
	margin-left: 0px;
	margin-top: 0px;
	margin-right: 0px;
	margin-bottom: 0px;
	background-image: url();
}
.t1 {
	border-top-width: 1px;
	border-right-width: 1px;
	border-bottom-width: 1px;
	border-left-width: 1px;
	border-top-style: none;
	border-right-style: solid;
	border-bottom-style: none;
	border-left-style: solid;
	border-top-color: #CCCCCC;
	border-right-color: #CCCCCC;
	border-bottom-color: #CCCCCC;
	border-left-color: #CCCCCC;
	background-color: #F8F3F9;
}
.t2 {
	border: 1px solid #b5b5b5;
	font-size: 16px;
	font-weight: bold;
	color: #CB1957;
}
body {
	font-size: 9pt;
	line-height: 1.8;
}
a:link {
	font-size: 9pt;
	color: #000000;
	text-decoration: none;
}
.head2 {
	font-size: 26pt;
	color: #DC2166;
}

a:visited {
	font-size: 9pt;
	color: #000000;
	text-decoration: none;
}
a:hover {
	font-size: 9pt;
	color: #FF0033;
	text-decoration: underline;
}
.font9 {
	font-size: 9pt;
	line-height: 1.8;
}

a:active {
	font-size: 9pt;
	color: #000000;
	text-decoration: none;
}
.head1 {
	font-family: "宋体";
	font-size: 10pt;
	font-weight: bold;
	color: #FFFFFF;
}
td {
	font-size: 12px;
	font-style: normal;
	line-height: normal;
	text-decoration: none;
	color: #000000;
}
.t3 {
	font-size: 16px;
	font-weight: bold;
	color: #FFFFFF;
}

.tb-btn-sku {
margin-right: 10px;
float: left;
}
btn-sku a {
margin-right: 0;
float: left;
overflow: hidden;
position: relative;
width: 178px;
height: 38px;
line-height: 38px;
background-color: #ffeded;
border: 1px solid #c40000;
color: #c40000;
font-family: 'Microsoft Yahei';
font-size: 16px;
text-align: center;
}
